<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pet')}">

<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<H1>List of Pets!</H1>
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>Type</th>
        <th>Owned by - first name</th>
        <th>Last name</th>

        <th> DOB</th>
    </tr>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.id}">123</td>
        <td th:text="${pet.petType.name}">This</td>
        <!--<td th:text="${pet.author.firstname}">The</td>-->
        <td th:text="${pet.owner.firstName}">Test</td>
        <td th:text="${pet.owner.lastName}">Test</td>

        <td th:text="${pet.birthDate}">Test</td>

    </tr>
</table>
</body>
</html>