<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<H1>List of Pets!</H1>
<table>
    <tr>
        <th>id</th>
        <th>Type</th>
        <th>Owned by</th>
        <th> DOB</th>
    </tr>
    <tr th:each="owner : ${pets}">
        <td th:text="${owner.id}">123</td>
        <td th:text="${owner.petType}">This</td>
        <!--<td th:text="${owner.author.firstname}">The</td>-->
        <td th:text="${owner.owner}">Test</td>
        <td th:text="${owner.birthDate}">Test</td>

    </tr>
</table>
</body>
</html>