<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset=" UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<H2>List of Vets!</H2>
<table id="vets" class="table table-striped">
    <tr>
        <th>id</th>
        <th>Firstname</th>
        <th> Last name</th>
    </tr>
    <tr th:each="owner : ${vets}">
        <td th:text="${owner.id}">123</td>
        <td th:text="${owner.firstName}">This</td>
        <!--<td th:text="${owner.author.firstname}">The</td>-->
        <td th:text="${owner.lastName}">Test</td>

    </tr>
</table>
</body>
</html>