<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset=" UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<H2>List of Owners!</H2>
<table id="owners" class="table table-striped">
    <tr>
        <th style="width: 150px;">id</th>
        <th style="width: 150px;">Firstname</th>
        <th style="width: 150px;"> Last name</th>
        <th style="width: 150px;">telephone</th>
        <th style="width: 150px;">address</th>
    </tr>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">123</td>
        <td th:text="${owner.firstName}">This</td>
        <!--<td th:text="${owner.author.firstname}">The</td>-->
        <td th:text="${owner.lastName}">Test</td>
        <td th:text="${owner.telephone}">Test</td>
        <td th:text="${owner.address}">Test</td>

    </tr>
</table>
</body>
</html>