<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<H1>List of Owners!</H1>
<table>
    <tr>
        <th>id</th>
        <th>Firstname</th>
        <th> Last name</th>
        <th>telephone</th>
        <th>address</th>
    </tr>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">123</td>
        <td th:text="${owner.firstName}">This</td>
        <!--<td th:text="${owner.author.firstname}">The</td>-->
        <td th:text="${owner.lastName}">Test</td>
        <td th:text="${owner.telephone}">Test</td>
        <td th:text="${owner.address}">Test</td>

    </tr>
</table>
</body>
</html>